@import url("https://fonts.googleapis.com/css?family=Material+Icons|Comfortaa|Istok+Web:400,700&amp;subset=cyrillic");
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
html{position:relative;margin-top:0;min-height:100%}
audio,embed,iframe,img,object,table,video{max-width:100%}
*{box-sizing:border-box}
p{color:#444;font-family:Istok Web;font-size:16px;font-weight:400;line-height:29px}
li{list-style:none}
.uTd>div:first-of-type{float:unset!important;display:inline;margin-right:15px}
.upage_add .forumDescr{font-size:10px}
#casing .forumContent select.fastNav{margin-right:4px;width:calc(100% - 55px)!important}
.wysibb * a.login-with i,ul.shop-tabs.with-clear,ul.shop-tabs.with-clear li{box-sizing:content-box}
#casing select#uf-birthday-d{margin-left:0}
body{margin:0;font-size:14px;line-height:1.5;font-family:Istok Web,sans-serif;color:#333;background-color:#fff}
table{font-size:100%}
.main_wrapper{min-height:calc(100vh - 200px)}
form,img{border:0;margin:0}
a,button:focus,input{outline:0}
a{color:#57aadc;text-decoration:none;-webkit-tap-highlight-color:transparent}
#header .user-btns a:hover,a:hover{text-decoration:none;color:#067ab5}
#casing select:not([multiple]):hover{border:1px solid #067ab5}
.eTitle a:hover{color:#067ab5;text-decoration:none}
.eTitle a:active,a:active{color:#000;text-decoration:none}
h1,h2,h3,h4,h5,h6{margin:5px 0;padding:0;font-family:Comfortaa;font-size:21px;font-weight:700}
h1{font-size:28px}
h2{font-size:24px}
h3{font-size:19px}
h4{font-size:17px}
h5{font-size:15px}
h6{font-size:13px}
ul{list-style:square;padding:0}
hr{clear:both;border:0;padding:10px 0 0;margin:0 0 10px}
.x-scroll{overflow-x:auto}
.x-scroll::-webkit-scrollbar{height:10px}
.x-scroll::-webkit-scrollbar-track{border-radius:10px;background-color:rgba(0,0,0,.14)}
.x-scroll::-webkit-scrollbar-thumb{background-color:#0188cc;border-radius:10px;border:1px solid #fff}
.manTdSep hr{padding:5px 0 0}
#casing input[type=button],#casing input[type=reset],#casing input[type=submit],a[role=button]:not([class^=cke_]){
min-height:42px;background-color:#0188cc;cursor:pointer;border-radius:30px;border:2px solid #067ab5;min-width:90px;color:#fff;font-family:Open Sans;font-size:14px;font-weight:400;line-height:24px;transition:all .5s ease}
#casing input.button[value=" + "]{padding:0 12px;min-width:unset}
#casing button:hover,#casing input[type=button]:hover,#casing input[type=reset]:hover,#casing input[type=submit]:hover{background-color:#067ab5;color:#fff;transition:all .2s ease}
.cap-ds a[role=button]{background:none;text-transform:uppercase;font-weight:700;position:relative;z-index:1;color:#fff;border-radius:6px;font-size:20px;padding:15px 48px;border:2px solid #fff;transition:all .3s}
.cap-ds a[role=button]:hover{background:#fff;color:#067ab5}
.links{color:initial}
#casing input[type=button]:active,#casing input[type=reset]:active,#casing input[type=submit]:active,.sidebox .calMonth .calMonthLink:nth-child(odd):active,a[role=button]:active{border:2px solid #067ab5;background-color:#fff;color:#333;transition:all .2s ease}
#casing input[type=button].u-comboedit{border:2px solid #067ab5;background:#0188cc url(/.s/t/1812/select_disabled_arrow.png) 96% 50% no-repeat;color:#fff;padding-right:35px!important}
#casing input#catSelector9{background:url(/.s/t/1812/select_disabled_arrow.png) 96% 50% no-repeat;color:#444;border-radius:5px}
#uf-register .uf-field label#uf-terms-label,#uf-register .uf-field label.uf-inline-label{padding-right:10px}
#casing input[type=button].u-comboedit:active{border:2px solid #067ab5;color:#333;background:#fff url(/.s/t/1812/select_disabled_arrow.png) 96% 50% no-repeat}
#catmenu li a,.site-n a{transition:all .15s ease-out}
@supports ((-webkit-appearance:none) or (-moz-appearance:none) or (appearance:none)){
input[type=checkbox]{width:16px;height:16px;background-color:transparent;border:2px solid #70718e;border-radius:2px;cursor:pointer;position:relative;margin:0 3px 4px 0;-webkit-appearance:none;-moz-appearance:none;appearance:none;vertical-align:middle;outline:none;min-width:16px;min-height:16px;box-sizing:border-box!important}
input[type=checkbox]:checked,input[type=checkbox]:checked:hover{background-color:#067ab5;border-color:#067ab5}
input[type=checkbox]:checked+span.customCheckbox:after,input[type=checkbox]:checked:before{content:"";display:block;width:3px;height:9px;border:2px solid transparent;border-bottom-color:#ffffff;border-right-color:#ffffff;position:absolute;top:-3px;left:3px;transform:rotate(43deg)}
input[type=radio]{display:inline-block;width:18px;min-width:18px;height:18px;padding:3px;border:2px solid #70718e;border-radius:50%;cursor:pointer;vertical-align:middle;margin:3px 3px 4px 0;-webkit-appearance:none;-moz-appearance:none;appearance:none;outline:none;position:relative;box-sizing:border-box!important}
input[type=checkbox]:hover,input[type=radio]:hover{border:2px solid #0188cc}
input[type=radio]:checked{border-color:#0188cc;background:transparent}
#casing .methods-list input.radio,#casing .methods-list input.checkbox { vertical-align: middle; }
#uf-register input#uf-terms{padding:0}
#uf-register .uf-field input[id^=uf-gender]{padding:7px}
input[type=radio]:checked:before{content:"";display:block;height:8px;width:8px;border-radius:50%;background-color:#0188cc;position:absolute;left:50%;top:50%;transform:translate(-50%,-50%)}
input[type=checkbox]:disabled,input[type=radio]:disabled{cursor:default;opacity:.4;background-color:#ddd}
}
@supports (-ms-ime-align:auto){
input[type=radio]{-webkit-appearance:radio;width:auto;height:auto}
input[type=checkbox]{-webkit-appearance:checkbox;width:auto;height:auto;min-width:unset;min-height:unset}
}
.owl-carousel{height:753px;display:none;width:100%;-webkit-tap-highlight-color:transparent;position:relative;z-index:1}
.owl-navi{transition:all .3s ease-in;position:absolute;top:94%;left:50%;transform:translateY(-80%) translateX(-50%)}
.item{display:-ms-flexbox;display:flex;-ms-flex-align:center;align-items:center;width:100%;height:753px}
.owl-one .left-itm,.owl-one .right-itm{width:900%}
.owl-one .left-itm{padding:100px}
.left-itm h2{color:#333;font-family:Comfortaa;font-size:40px;font-weight:400;line-height:55px}
.left-itm p{font-size:18px}
.owl-carousel .owl-navi button.owl-next,.owl-carousel .owl-navi button.owl-prev,.owl-carousel button.owl-dot{position:absolute;top:50%;display:-ms-flexbox;display:flex;width:38px;height:38px;transform:translateY(-50%);color:#000;background-color:#ffffffe6;border-radius:50%;border:1px solid #000;-ms-flex-pack:center;justify-content:center;-ms-flex-align:center;align-items:center;cursor:pointer}
button.owl-prev{right:10px}
.owl-carousel .owl-stage{position:relative;-ms-touch-action:pan-Y;touch-action:manipulation;-moz-backface-visibility:hidden;margin:0;padding:0}
.owl-carousel .owl-stage:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0}
.owl-carousel .owl-stage-outer{position:relative;overflow:hidden;-webkit-transform:translateZ(0)}
.owl-carousel .owl-item,.owl-carousel .owl-wrapper{-webkit-backface-visibility:hidden;backface-visibility:hidden;transform:translateZ(0)}
.owl-carousel .owl-item{position:relative;min-height:1px;float:left;-webkit-backface-visibility:hidden;-webkit-tap-highlight-color:transparent;-webkit-touch-callout:none}
.owl-carousel .owl-item img{display:block;width:100%}
.owl-carousel .owl-dots.disabled,.owl-carousel .owl-nav.disabled{display:none}
.owl-carousel .owl-dot,.owl-carousel .owl-nav .owl-next,.owl-carousel .owl-nav .owl-prev{cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.owl-carousel .owl-nav button.owl-next,.owl-carousel .owl-nav button.owl-prev,.owl-carousel button.owl-dot{background:none;color:inherit;border:none;padding:0!important;font:inherit}
.owl-carousel.owl-loaded{display:block}
.owl-carousel.owl-loading{opacity:0;display:block}
.owl-carousel.owl-hidden{opacity:0}
.owl-carousel.owl-refresh .owl-item{visibility:hidden}
.owl-carousel.owl-drag .owl-item{-ms-touch-action:pan-y;touch-action:pan-y;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.owl-carousel.owl-grab{cursor:move}
.owl-carousel.owl-rtl{direction:rtl}
.owl-carousel.owl-rtl .owl-item{float:right}
.no-js .owl-carousel{display:block}
.owl-carousel .animated{animation-duration:1s;animation-fill-mode:both}
.owl-carousel .owl-animated-in{z-index:0}
.owl-carousel .owl-animated-out{z-index:1}
.owl-carousel .fadeOut{animation-name:a}
@keyframes a{0%{opacity:1}
to{opacity:0}
}
.owl-height{transition:height .5s ease-in-out}
.owl-carousel .owl-item .owl-lazy{opacity:0;transition:opacity .4s ease}
.owl-carousel .owl-item .owl-lazy:not([src]),.owl-carousel .owl-item .owl-lazy[src^=""]{max-height:0}
.owl-carousel .owl-item img.owl-lazy{transform-style:preserve-3d}
.owl-one .owl-item img{display:block;width:100%;height:100%;-o-object-fit:scale-down;object-fit:scale-down;-o-object-position:bottom;object-position:bottom}
.owl-one .owl-item img.first-img{position:relative;right:0;-o-object-position:right;object-position:right}
main.promo{display:block;width:100%}
.flex-wrapper{display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap}
.disabled{display:none}
.control-button>a,.link-button{color:#fff;font-size:16px;line-height:24px;background-color:#0188cc;min-height:42px;display:-ms-inline-flexbox;display:inline-flex;-ms-flex-pack:center;justify-content:center;-ms-flex-align:center;align-items:center;padding:0 34px;border-radius:30px;border:2px solid transparent}
.control-button>a:hover,.link-button:hover{background-color:#067ab5;color:#fff}
.link-button:active{background-color:#fff;color:#333;border:2px solid #067ab5}
.land-block1{width:100%;background-color:#f5f5f5}
.land-block1 .wrapper{padding:94px 20px}
.lf-side,.rg-side{width:50%}
.land-block1 h3{color:#333;font-family:Comfortaa;font-size:24px;font-weight:400;line-height:37px}
.land-block1 p{margin-top:0;font-size:16px}
.land-block1 span{color:#444;font-family:Istok Web;font-size:15px;font-weight:400;line-height:26px;margin-left:30px}
.land-block2 .wrapper{padding:95px 20px 111px}
.lf-top{text-align:center}
.land-block2 h3,.land-block3 h3{color:#333;font-family:Comfortaa;font-size:32px;font-weight:400;line-height:44px}
.land-block2 .lf-top p{width:60%;display:inline-block}
.land-block2 .rg-bottom h4{color:#333;font-family:Comfortaa;font-size:17px;font-weight:700;line-height:32px;margin-top:22px}
ul.work-list{padding-top:100px;margin:0;-ms-flex-pack:distribute;justify-content:space-around}
.work-list li{width:30%}
.owl-two{background-color:#f3e7db;width:100%;overflow:hidden}
.owl-two.owl-carousel{height:543px}
.owl-two .item{display:-ms-flexbox;display:flex;-ms-flex-align:center;align-items:center;width:100%;height:543px}
.owl-two .owl-item img{display:block;width:100%;height:100%;-o-object-fit:cover;object-fit:cover}
.owl-two .left-itm{width:41%;padding:0 140px 0 78px}
.owl-two .right-itm{width:59%}
.owl-three.owl-carousel{height:auto}
.owl-three .item{height:auto;padding:13px;-ms-flex-pack:center;justify-content:center}
.price-list-device li{padding:27px 20px 25px;border-bottom:2px solid #e6e6e6;color:#444;font-size:16px;line-height:29px}
.price-list-device li span{padding-left:101px;font-size:17px;line-height:32px}
.price-list-device li{padding:0}
.land-block4 .wrapper{padding:100px 20px 70px}
.control-button{display:-ms-flexbox;display:flex;-ms-flex-pack:center;justify-content:center;-ms-flex-wrap:wrap;flex-wrap:wrap}
.control-button>a{background-color:#fff;border:2px solid #067ab5;border-right:none;color:#444;border-radius:initial}
.control-button>a.but-select{background-color:#067ab5;color:#fff;pointer-events:none;cursor:default}
.control-button>a:first-child{border-top-left-radius:30px;border-bottom-left-radius:30px}
.control-button>a:last-child{border-top-right-radius:30px;border-bottom-right-radius:30px;border-right:2px solid #067ab5}
.control-button>a:active{background-color:#fff;color:#333}
.land-block5{background-color:#f3e7db}
.land-block5 .wrapper{padding:61px 20px}
.land-block5 .flex-wrapper{-ms-flex-pack:center;justify-content:center}
.land-block5 .flex-wrapper li{display:-ms-flexbox;display:flex;padding:0 40px}
span.ar-title{font-size:41px;font-weight:400;line-height:71px;padding-right:19px}
.land-block6{background-color:#f5f5f5}
.owl-four.owl-carousel{height:auto;padding-top:99px;padding-bottom:165px}
.owl-four .item{min-height:330px;height:auto;background:#fff url(/.s/t/1812/quote.png) 46px 47px no-repeat;padding:121px 47px 52px;-ms-flex-wrap:wrap;flex-wrap:wrap;border-radius:8px}
.owl-four .item .mess-com{display:block;width:100%;margin-top:0;color:#333}
footer.footer{background:#ebebed}
.footer-left{width:50%;text-align:left}
.footer .wrapper{padding:50px 20px 32px;display:-ms-flexbox;display:flex;-ms-flex-align:start;align-items:flex-start;-ms-flex-pack:justify;justify-content:space-between}
.footer h3{font-family:Comfortaa;font-size:24px;font-weight:700;line-height:33px;margin:0;padding:26px 0 28px}
.footer p{margin:0}
.copy{font-size:16px;font-weight:400;line-height:29px}
.quick-links,.soc-link{display:-ms-flexbox;display:flex;-ms-flex-pack:start;justify-content:flex-start;padding:0}
.quick-links li:not(:last-child),.soc-link li:not(:last-child){
margin-right:15px}
.soc-link a{color:#1d2733;font-size:18px;font-weight:400}
#casing .sidebox .searchForm form input[type=text].queryField{border:1px solid #333;border-radius:30px;width:85%;padding-right:40px;max-width:250px;background-color:#0000;margin:0}
.searchForm form{position:relative;display:-ms-flexbox;display:flex}
.sidebox .searchForm form .schBtn{position:absolute;right:22px}
.sidebox .searchForm form .schQuery{width:100%}
#casing #sidebar input[type=submit].searchSbmFl{min-width:unset;width:45px;border:none;text-indent:150%;background:#0000;font-size:0}
.schBtn:after{content:"search";font-family:Material Icons;position:absolute;height:100%;width:100%;color:#000;left:0;top:calc(50% - 17px);font-size:24px;line-height:35px;cursor:pointer;pointer-events:none;text-rendering:optimizeLegibility;-webkit-font-feature-settings:"liga";font-feature-settings:"liga"}
.schBtn:hover:after{color:#067ab5}
.eVariant input,.eVariant label{vertical-align:middle}
form#addEntForm #isontop~span.customCheckbox{display:inline-block}
#addEntForm input[type=hidden]+br,#allEntries .eTitle:after,#catmenu ul:not(.overflow) ul,#shop-basket ul li a:before,.eBlock+br,.ed-sep,.module_search .eTitle:after,.module_stuff .eTitle+hr,.module_tests .eTitle:after,.nav-head,.slide,.ucf-option .customCheckbox,a.mcBBcodesBtn img,a.mcManageBtn img,a.mcReloadBtn img,a.mcSmilesBtn img,div.i_person,div.i_search,table.uTable+hr{display:none}
#catmenu li.uWithSubmenu,.module_search form table td:first-child,.sidebox li.parent-li,.sidebox li.uWithSubmenu,.slide{position:relative}
.customCheckbox:hover{border-color:#067ab5}
input[type=checkbox]:checked+span.customCheckbox{background-color:#0188cc;border-color:#0188cc}
input[type=checkbox]:disabled+span.customCheckbox{opacity:.6;cursor:default}
input[type=checkbox]:disabled+span.customCheckbox:hover{border-color:#aaa}
.clr{clear:both}
.uf-with-tooltip:hover .uf-tooltip,.uf-wtt-hovered .uf-tooltip{z-index:3}
.material-icons,b.shop-itempage-price *{vertical-align:middle}
.wrapper{margin:0 auto;max-width:1200px;width:100%;padding:0 20px}
header{border-bottom:2px solid #e6e6e6;min-height:72px}
.schQuery>input{height:41px;box-shadow:0 2px 1px #fff,inset 0 1px 3px rgba(0,0,0,.14);border:1px solid #cacaca;background-color:#fff;border-radius:20px;padding-left:20px;padding-right:83px}
.schQuery>input:focus{box-shadow:0 2px 1px #fff,inset 0 1px 3px rgba(0,0,0,.14),0 0 0 rgba(255,152,24,.33);border:1px solid #ff9818}
.head-r .searchForm form .schBtn input.searchSbmFl{width:83px;height:41px;border:1px solid #ef6e19;text-indent:-1000px;background-image:linear-gradient(0deg,#ff7720 0,#ff9818);border-radius:20px;cursor:pointer}
.head-r .searchForm form .schBtn input.searchSbmFl:hover{background-image:linear-gradient(0deg,#ff9818 0,#ff7720)}
.head-r .searchForm form .schBtn input.searchSbmFl:active{box-shadow:inset 0 1px 4px rgba(0,0,0,.27)}
.head-r .links a{text-shadow:0 1px 1px rgba(0,2,3,.13);color:#444;font-size:14px;font-weight:400}
header>.wrapper{display:-ms-flexbox;display:flex;min-height:72px;padding:0 20px;-ms-flex-align:center;align-items:center;max-height:75px;position:relative;z-index:8}
.logo{width:35%;display:block}
a.logo-lnk{color:#333;font-family:Comfortaa;font-size:26px;font-weight:400}
a.logo-lnk:hover{text-decoration:none}
div[id^=uNMenuDiv] a{color:#333;font-family:Istok Web;font-size:14px;font-weight:400;line-height:24px}
.overflow a.uMenuItemA,li .uWithSubmenu a.uMenuItemA{background-color:#fff}
.overflow a.uMenuItemA>span,li .uWithSubmenu a.uMenuItemA>span{color:#57aadc}
.main-menu{width:80%}
ul.uMenuRoot i.material-icons{width:24px}
ul.uMenuRoot{display:-ms-inline-flexbox;display:inline-flex;padding:0;width:100%;-ms-flex-pack:end;justify-content:flex-end;-ms-flex-align:center;align-items:center;-ms-flex-wrap:wrap;flex-wrap:wrap;margin:0;position:relative;visibility:hidden}
ul.uMenuRoot li{text-align:center}
ul.uMenuRoot li a{padding:0 20px;-ms-flex-pack:center;justify-content:center;display:-ms-inline-flexbox;display:inline-flex;-ms-flex-align:center;align-items:center}
ul.uMenuRoot>li>a{min-height:72px}
.uMenuRoot>li>a:hover,div[id^=uNMenuDiv] a.uMenuItemA,li.navItemMore:hover{color:#57aadc;font-weight:400;line-height:24px;cursor:pointer}
.nav-menu-toggler{min-height:72px;display:-ms-flexbox;display:flex;padding-right:0}
.nav-menu-toggler,.uWithSubmenu>a:after{-ms-flex-pack:center;justify-content:center;-ms-flex-align:center;align-items:center}
.uWithSubmenu>a:after{content:"keyboard_arrow_down";display:-ms-inline-flexbox;display:inline-flex;height:12px;width:12px;top:50%;transform:translateY(-50%);position:absolute;right:4px;direction:ltr;font-family:Material Icons;font-size:24px;font-style:normal;font-weight:400;letter-spacing:normal;line-height:1;text-transform:none;white-space:nowrap;word-wrap:normal;-webkit-font-feature-settings:"liga";font-feature-settings:"liga";font-smoothing:antialiased}
#catmenu li:hover>ul.overflow{left:-80px}
#catmenu li ul li a{padding:0 15px;color:#333;font-size:14px;font-weight:400;line-height:22px}
#catmenu li ul li a span{padding:10px 0}
#catmenu li ul li a{width:100%;display:-ms-flexbox;display:flex;-ms-flex-align:center;align-items:center;position:relative;-ms-flex-pack:start;justify-content:flex-start}
.overflow .menu_tog{position:static;font-size:20px;right:0;cursor:pointer;line-height:.8;display:none}
.slider-menu-children>a:after{content:"keyboard_arrow_right";right:19px}
:root .slider-menu-children>a:after,_:-ms-fullscreen{top:50%;transform:translateY(-50%)}
.owl-one .right-itm{height:100%}
.back-arr{text-align:left;width:100%;padding:6px 0;margin-left:-7px}
.main-menu #catmenu ul ul ul{right:100%}
:root .nav-menu-toggler,_:-ms-fullscreen{height:72px}
:root ul.uMenuRoot>li>a>span,_:-ms-fullscreen{padding:24px 0}
:root #catmenu ul.overflow,:root #catmenu ul:not(.overflow) ul,_:-ms-fullscreen{display:block}
.main-menu .overflow li.uWithSubmenu .menu_tog,.main-menu li.uWithSubmenu li.uWithSubmenu .menu_tog{right:auto;left:5px;transform:rotate(90deg);color:#444}
:root li .uWithSubmenu i.menu_tog,_:-ms-fullscreen{width:16px;top:25%}
:root .head-r,_:-ms-fullscreen{height:90px}
:root .main_wrapper,_:-ms-fullscreen{height:auto;overflow:hidden}
.mobile-menu-list,.show-menu{display:none}
.show-menu{color:#0188cc;transition:all .3s}
#catmenu li ul li a:hover{color:#57aadc;text-decoration:none}
#sidebar{width:28%;float:right;padding-top:30px;background-color:#f2f2f2}
.sidebox{margin:20px 0}
.sidebox:first-child{margin-top:0}
.no_avatar.material-icons{width:70px;height:70px;line-height:70px;background-color:rgba(209,206,219,.82);border-radius:6px;color:#fff;font-size:32px;margin-bottom:10px}
#casing #content input.loginField{margin:7px 0;display:block}
form[id^=frmLg]>div{width:320px!important}
.sidetitle{padding:20px 0;margin:0 29px;color:#333;font-family:Comfortaa;font-size:17px;font-weight:700;line-height:32px;text-align:center;border-bottom:1px solid #b9b6b6}
.sidebox .inner{padding:25px 20px 20px}
.phone span{margin-right:15px}
.soc-link a:hover{color:#067ab5}
.soc-link a:active{color:#45a8da}
.sidebox .catsTable,.sidebox ul{margin:0;padding:0;list-style:none}
.sidebox .catsTable,.sidebox .catsTable *{display:block;width:auto!important}
.sidebox li{list-style:none;padding:0}
.sidebox .catsTable td a,.sidebox li a{display:inline-block;padding:10px 0 0}
.sidebox li b{font-weight:400}
.sidebox .catsTable td a:active,.sidebox li a:active{text-decoration:none}
.sidebox .catsTable .catDescr{color:#727272;font-size:13px}
.sidebox .catNumData{color:#212121;display:inline-block}
.sidebox .calTable{width:100%;position:relative;color:#444;font-size:16px}
.sidebox .calTable a.calMonthLink{font-size:16px}
.sidebox .calTable tbody tr:before{content:""}
.sidebox .calTable tbody tr:nth-child(2):after{transform:translateY(33px)}
.sidebox .calTable tbody tr:nth-child(2) td{padding-bottom:13px;font-size:16px;font-weight:500}
.calTable td{text-align:center;padding:7px 2px}
.calMonth,.calWday,.calWdaySe,.calWdaySu{font-size:13px}
.sidebox .calTable tbody tr:nth-child(2){border-top:1px solid #dadada;border-bottom:1px solid #dadada}
body:not(.tmpl_body) div[class^=cBlock] .cMessage{padding-bottom:5px!important;line-height:16px}
body:not(.tmpl_body) div[class^=cBlock] a{font-size:16px;padding-right:10px!important}
body:not(.tmpl_body) div[class^=cBlock] a b{font-weight:400}
.archiveNoEntry,.noEntry{padding:40px 0;text-align:center}
.sidebox .calMonth{line-height:32px}
.sidebox td.calMonth a{position:absolute;transition:all .3s;border-radius:7px}
.sidebox .calMonth .calMonthLink:nth-child(odd):hover{background-color:#ffffff17;border-radius:30px;border:1px solid #000}
.sidebox .calMonth .calMonthLink:nth-child(odd):hover:after{color:#000}
.sidebox td.calMonth>a:first-child+a+a,.sidebox td.calMonth a:first-child{display:block;text-align:center;line-height:20px;top:2px;right:10px}
.sidebox td.calMonth a:first-child{right:55px}
.sidebox td.calMonth a:first-child+a{font-size:16px;left:10px;top:0;display:inline-block;height:40px;line-height:40px}
.sidebox .calMonth .calMonthLink:first-child,.sidebox .calMonth .calMonthLink:last-child{font-weight:400;text-transform:none;padding:8px;line-height:1;font-size:0;border:1px solid transparent}
.sidebox .calMonth .calMonthLink:first-child:after,.sidebox .calMonth .calMonthLink:last-child:after{color:#70718e}
.pgNext span:after,.pgPrev span:after,.sidebox .calMonth .calMonthLink:first-child:after,.sidebox .calMonth .calMonthLink:last-child:after,a.swchItem:first-child span:after,a.swchItem:last-child span:after{display:inline-block;font-size:20px;font-family:Material Icons;-webkit-font-feature-settings:"liga" 1;font-feature-settings:"liga" 1;white-space:nowrap;word-wrap:normal;direction:ltr;-webkit-font-feature-settings:"liga";-webkit-font-smoothing:antialiased}
.pgNext span:after,.pgPrev span:after,a.swchItem:first-child span:after,a.swchItem:last-child span:after{color:#333}
.pgNext:hover span:after,.pgPrev:hover span:after,a.swchItem:first-child:hover span:after,a.swchItem:last-child:hover span:after{color:#0188cc}
.popupbody a.swchItem:first-child span:after,.popupbody a.swchItem:last-child span:after{font-size:17px}
.pgPrev span:after,.sidebox .calMonth .calMonthLink:first-child:after,a.swchItem:first-child span:after{content:"keyboard_arrow_left"}
.pgNext span:after,.sidebox .calMonth .calMonthLink:last-child:after,a.swchItem:last-child span:after{content:"keyboard_arrow_right"}
.calMdayA,.calMdayLink{font-weight:700;text-decoration:none!important;position:relative}
.sidebox ul ul{display:none;margin:0;padding:0 0 0 30px}
.schBtn,.schQuery,.sidebox li.parent-li.over>ul,.sidebox li.uWithSubmenu.over>ul{display:block}
.sidebox .answer{padding-top:5px}
.sidebox .answer>div{background-color:#dadada;padding-top:0!important;margin-top:3px}
.sidebox ul.rate-list{margin:0}
#shop-basket ul li a{padding:0;margin:0}
.goods-list div.add{background:url(/.s/t/1812/addbc.png) 50% no-repeat}
.goods-list div.wadd{background:url(/.s/t/1812/wish.png) 50% no-repeat}
.goods-list div.now{background:url(/.s/t/1812/addbcarr.png) 50% no-repeat}
.goods-list div.wdel{background:url(/.s/t/1812/rwish.png) 50% no-repeat}
div.compare-widget-add{background:url(/.s/t/1812/compare.png) 50% no-repeat}
div.goods-list .done{cursor:pointer;background:url(/.s/t/1812/raddbc.png) 50% no-repeat}
div.compare-widget-remove{background:url(/.s/t/1812/rcompare.png) 50% no-repeat}
div.compare-widget-wrapper{height:35px;vertical-align:middle;border:1px solid #4a4523;border-radius:unset}
.user-box{text-align:center}
.user-box img{margin:0 0 10px;-o-object-fit:cover;object-fit:cover}
.user-ttl{padding:0 0 5px}
#content{width:72%;float:left;padding:30px 30px 60px}
#content .eBlock{padding:30px 0 0}
#content .eBlock .eMessage{border-bottom:1px solid #b9b6b6;padding-bottom:30px!important}
#content fieldset{border:1px solid #dadada;padding:20px;margin:0 0 20px}
#content .calTable{width:100%;margin:0 0 30px}
#content .calTable tr:nth-child(2){background:#d4cfec}
.calMdayIsA{display:block;width:100%;padding:7px 2px}
.calMdayIsA,.calMdayIsA a{color:#067ab5}
.calMdayIs:hover,.calMdayIsA:hover{padding:0}
.calMdayIs:hover .calMdayLink,.calMdayIsA:hover .calMdayLink{display:block;width:100%;color:#067ab5;padding:7px 2px;border-radius:7px}
#content.wide-page{float:none;width:100%}
#casing label{cursor:pointer;vertical-align:middle}
.archActive{padding-top:10px}
.eBlock{border-spacing:0;margin:0 0 30px;clear:both;table-layout:fixed}
#content section>.eBlock{margin-top:10px}
.eBlock+table,.vep-comments>table{margin:40px 0 0;border-spacing:0}
#content .vcp-ratestars,.shop-item-brief{padding:5px 0}
.eBlock+table td[width="60%"],.shop-info table td[width="60%"],.v-channel-page+div+table td[width="60%"],.vep-comments table td[width="60%"]{font-size:18px;padding:0 0 20px}
.eTitle{color:#57aadc;font-family:Comfortaa;font-size:24px;font-weight:700;line-height:33px}
#allEntries .eTitle,.module_tests .eTitle{font-size:25px}
span[class^=sortBlock]{line-height:42px}
.eTitle a{color:#57aadc;font-family:Comfortaa;font-size:24px;font-weight:700;line-height:33px}
.eTitle div[style^="float:right"] a{font-size:inherit}
.u-star-rating-32+div{padding:10px 0}
.u-current-rating,table.gTable .posttdMessage img{max-width:100%}
#videocontent_comm,.vcp-details{color:#727272;font-size:12px}
.eDetails,.eDetails1,.eDetails2{clear:both;font-size:14px;padding:13px 0!important;color:#727272;line-height:120%}
.eDetails1 ul,.eDetails2 ul,.eDetails ul{line-height:normal}
.eDetails{border-radius:0 0 7px 7px;padding:20px 0!important}
.e-add,.e-author,.e-category,.e-comments,.e-date,.e-loads,.e-rating,.e-reads,.e-tags{margin:0 15px 0 0;display:inline-block;height:15px;line-height:20px}
#casing .ph-details{margin:20px 0 0}
#casing.upage_invoices input#suggEdit{width:220px}
#casing.upage_invoices input#date1,#casing.upage_invoices input#date2{width:100px;padding:10px}
.eAnswer+div{padding:13px 0}
.eBlock td.eMessage,.eBlock td.eText{padding:10px 0 20px!important}
.e-add,.e-author,.e-author-phone,.e-category,.e-comments,.e-date,.e-loads,.e-placed,.e-rating,.e-reads,.e-redirects,.e-tags{position:relative;font-family:Comfortaa;letter-spacing:1px;padding:0 0 0 20px;margin:0 20px 0 0;display:inline-block}
.e-add:before,.e-author-phone:before,.e-author:before,.e-category:before,.e-comments:before,.e-date:before,.e-loads:before,.e-placed:before,.e-reads:before,.e-redirects:before,.e-tags:before{color:#b0abab;font-family:Material Icons;font-size:16px;font-weight:400;position:absolute;display:inline-block;-webkit-font-feature-settings:"liga" 1;font-feature-settings:"liga" 1}
.e-redirects:before{content:"\E157";top:0;left:0}
.e-reads:before{content:"\E417";top:0;left:0}
.e-category:before{content:"\E2C8";top:-2px;left:0}
.e-author-phone:before{content:"\E0CD";top:-2px;left:-1px}
.e-tags:before{content:"\E893";top:-2px;left:0}
.e-rating:before{content:"";background:url(/.s/t/1812/rating.png) no-repeat 0 2px;display:inline-block;width:16px;height:18px;position:absolute;left:0}
.e-author:before{content:"\E8A6";top:-1px;left:-3px}
.e-add:before{content:"\E7FD";top:-1px;left:-3px}
.e-date:before,.e-placed:before{content:"\E916";top:-2px;left:-2px}
.e-loads:before{content:"\E157";top:0;left:0}
.e-comments:before{content:"\E0CB";top:0;left:0}
.ed-sep,.ed-title{display:none}
.eMessage,.eText,.module_stuff .eBlock{margin:0;line-height:1.5}
.eMessage img,.eText img{max-width:100%;height:auto!important;margin:5px 20px 5px 0!important;border:none!important}
.eMessage p,.eText p{margin:0;padding:0 0 5px;overflow:hidden;font-weight:400;line-height:25px}
.cMessage,.eMessage,.eText{word-wrap:break-word}
.eBlock td.eMessage,.eBlock td.eMessage.eText{padding:20px 0 10px!important}
#pagesBlock1 a,#pagesBlock1 b,#pagesBlock2 a,#pagesBlock2 b,.pagesBlockuz1 a,.pagesBlockuz1 b,.pagesBlockuz2 a,.pagesBlockuz2 b,.pagesBlockuz a,.pagesBlockuz b,.pagesBottom a,.pagesBottom b,.plist b,.swchItem,.swchItemA,a.pgSwch{display:inline-block;margin:2px 0}
#pagesBlock1,.pagesBlockuz,.pagesBlockuz1{margin-left:7px;display:-ms-inline-flexbox;display:inline-flex;-ms-flex-wrap:wrap;flex-wrap:wrap;-ms-flex-pack:center;justify-content:center;-ms-flex-align:center;align-items:center}
#pagesBlock1 a,#pagesBlock1 b,#pagesBlock2 a,#pagesBlock2 b,.pagesBlockuz1 a,.pagesBlockuz1 b,.pagesBlockuz2 a,.pagesBlockuz2 b,.pagesBlockuz a,.pagesBlockuz b,.pagesBottom a,.pagesBottom b,.pgSwchA b,.swchItem,.swchItemA,a.pgSwch{color:#333;font-size:14px;font-weight:700;min-width:36px;height:36px;line-height:36px;border:1px solid #ddd;border-radius:inherit;transition:all .1s ease;vertical-align:middle;text-align:center;padding:0 7px}
#pagesBlock1 b,#pagesBlock2 b,.pagesBlockuz1 b,.pagesBlockuz2 b,.pagesBlockuz b,.pagesBottom b,.pgSwchA b,.swchItemA{background-color:#0188cc;color:#fff}
.pgNext span,.pgPrev span,a.swchItem:first-child span,a.swchItem:last-child span{font-family:Material Icons;font-weight:400;color:#fff;font-size:0;-webkit-font-feature-settings:"liga" 1;font-feature-settings:"liga" 1;white-space:nowrap;word-wrap:normal;direction:ltr;-webkit-font-feature-settings:"liga";-webkit-font-smoothing:antialiased}
#casing input[type=text].fastSearch{margin-right:4px}
#pagesBlock1 a:first-child,.pgPrev,a.swchItem:first-child{position:relative;border:1px solid #ddd;border-top-left-radius:30px;border-bottom-left-radius:30px}
#pagesBlock1 a:last-child,.pgNext,a.swchItem:last-child{position:relative;border:1px solid #ddd;border-top-right-radius:30px;border-bottom-right-radius:30px}
#pagesBlock1 a:hover,#pagesBlock2 a:hover,.pagesBlockuz1 a:hover,.pagesBlockuz2 a:hover,.pagesBlockuz a:hover,.pagesBottom a:hover,.swchItemA a:hover,a.pgSwch:hover{color:#0188cc;text-decoration:none;transition:all .1s ease}
#pagesBlock1 a:active,#pagesBlock2 a:active,.pagesBlockuz1 a:active,.pagesBlockuz2 a:active,.pagesBlockuz a:active,.pagesBottom a:active,a.pgSwch:active{color:#0188cc;box-shadow:none}
.cBlock1,.cBlock2{margin:0!important;padding:5px 0!important}
#MCaddFrm input[type=text].mchat{padding:8px 5px 9px!important;text-align:center}
#MCaddFrm input[type=text].captcha-answer{width:100%!important}
#MCaddFrm img.captcha-question.mchat{border-left-color:transparent!important}
a.mcBBcodesBtn:after,a.mcManageBtn:after,a.mcReloadBtn:after,a.mcSmilesBtn:after{font-family:Material Icons;font-size:24px;-webkit-font-feature-settings:"liga" 1;font-feature-settings:"liga" 1;white-space:nowrap;word-wrap:normal;direction:ltr;-webkit-font-feature-settings:"liga";-webkit-font-smoothing:antialiased}
a.mcBBcodesBtn:hover,a.mcManageBtn:hover,a.mcReloadBtn:hover,a.mcSmilesBtn:hover{text-decoration:none}
a.mcReloadBtn:after{content:"refresh"}
a.mcSmilesBtn:after{content:"insert_emoticon"}
a.mcBBcodesBtn:after{content:"code"}
a.mcManageBtn:after{content:"mode_edit"}
img.captcha-question{height:36px;border:1px solid #dadada!important;border-radius:0 5px 5px 0}
form#uf-register .uf-text[type=password]{width:85%;padding-left:5px;padding-right:5px}
#MCaddFrm input[type=text].captcha-answer{border-radius:5px 0 0 5px}
#MCaddFrm select{padding:9px 4px!important;font-size:13px!important;min-width:20px!important}
.module_gb #content .cBlock1,.module_gb #content .cBlock2{padding:30px 20px!important;margin:0 0 10px!important;background:#fff;box-shadow:0 10px 20px rgba(217,213,230,.5);border-radius:7px}
[itemprop=author]{color:#1c1830;font-family:Comfortaa;font-size:15px}
.cMessage{line-height:24px}
.cDetails{font-size:12px;color:#727272}
#newEntryB .cTop,.comEnt+div .cTop,.comEnt .cTop{padding:0 0 10px;float:left;margin:0 0 0 87px}
.cTop>b{font-family:Comfortaa;font-size:25px}
#casing.upage_userdetails button,#casing.upage_userdetails input[type=button],#casing.upage_userdetails input[type=reset],#casing.upage_userdetails input[type=submit],a[role=button]:not([class^=cke_]){
font-size:12px}
.cTop *{font-weight:400}
.cAnswer{padding:5px 0 0;font-style:italic;color:#464646;font-size:11px}
.commTd1{padding:5px 2px;width:20%}
input.codeButtons{min-width:30px}
#casing .codeButtons,#casing select.codeButtons{margin:0 0 3px!important}
.eAttach{margin:10px 0;color:#939fae}
.eAttach:before{content:"attach_file";color:#727272;font-family:Material Icons;font-size:14px;font-weight:400;vertical-align:bottom;margin-left:-3px;-webkit-font-feature-settings:"liga" 1;font-feature-settings:"liga" 1;white-space:nowrap;word-wrap:normal;direction:ltr;-webkit-font-feature-settings:"liga";-webkit-font-smoothing:antialiased}
.eRating{font-size:11px}
.commError,.manTdError{color:red}
.commReg{padding:10px 0;text-align:center}
a.groupModer:hover,a.groupModer:link{color:blue}
a.groupAdmin:hover,a.groupAdmin:link{color:#ff4d75}
a.groupVerify:hover,a.groupVerify:link{color:green}
.replaceTable{font-size:12px;padding:20px;border:0;background:#fff}
.outputPM{margin:4px 0 4px 30px}
.inputPM,.outputPM{border:1px solid #dadada}
.inputPM{margin:4px 0}
.uTable{border-spacing:0;margin:0;padding:0}
.uTable td{padding:8px 10px;white-space:nowrap;border-bottom:1px solid #dadada}
.uTable .myWinSuccess,.uTable .uPM{padding-right:20px}
.gDivRight{padding-bottom:20px;padding-top:10px}
.userSchFrm form input[name=user]{width:200px!important}
.eAttach .entryAttachSize{padding-left:4px}
.manTable{text-align:left}
.manTable .manTd1{font-size:13px;line-height:14px;width:30%}
#casing.popuptable{background:#fff;margin:0 auto;min-height:100vh}
#uf-register .uf-soc-icons ul li b{white-space:nowrap}
.popuptitle{background:#f2f2f2;text-transform:uppercase;padding:13px 20px;color:#444;font-size:25px;font-family:Comfortaa;width:100%}
input.allUsersBtn,input.uSearchFlSbm{width:auto!important}
.popupbody{padding:20px;font-size:12px;color:#212121;width:100%}
.popupbody div[align=center]{overflow:auto}
.popupbody .user_avatar{width:100px;height:100px;border:1px solid #dadada;display:inline-block;border-radius:50%;overflow:hidden}
.popupbody *{font-size:13px!important}
.popuptable table{text-align:left}
.popupbody #addform input,form[name=fuser] input,form[name=memform] input,form[name=memform] select,table#usch input{margin:7px 4px!important;vertical-align:middle}
input[name=user]{min-width:200px}
#sidebar input[name=user],.myWinCont input[name=user]{min-width:0}
.archiveDateTitleLink{font-family:Comfortaa;font-size:18px}
.archEntryHr{border-bottom:2px solid #0188cc;margin:0}
.archiveEntryTitle ul{margin:2px 0;list-style:none;padding:0}
td.archiveEntryTitle{padding:6px 0;border-bottom:1px solid #dadada}
td.archiveDateTitle{padding-top:30px}
.archiveEntryTitle .archiveEntryTime{font-size:14px;font-weight:700;margin-right:10px}
.archiveEntryTime:after{content:"";display:table;clear:right}
.archiveEntryTime{float:left}
form#tstAddForm tr:nth-last-child(-2n+2) td{padding-top:20px}
form#tstAddForm tr:first-child td{padding-bottom:10px}
form#addEntForm li select:first-child{margin-left:0}
#uEntriesList .uphoto a.phd-comments{color:#0188cc}
#addPhtFrm button{margin:0 4px}
.photo #casing.upage_add li.notcolumn.xPhtAction>span>button{display:-ms-inline-flexbox;display:inline-flex;min-width:30px;min-height:30px;-ms-flex-pack:center;justify-content:center;-ms-flex-align:center;align-items:center}
.paging-wrapper-top,.photo #casing.upage_add li.notcolumn.xPhtAction [data-toggle]:before{display:-ms-flexbox;display:flex;-ms-flex-align:center;align-items:center}
.photo #casing.upage_add li.notcolumn.xPhtAction [data-toggle]:before{font-family:Material Icons;font-size:24px;content:"keyboard_arrow_down";color:#fff;background:unset;-ms-flex-pack:center;justify-content:center}
.photo #casing.upage_add li.notcolumn.xPhtAction [data-toggle]:active:before{color:#000}
.photo #casing.upage_add li.notcolumn.xPhtAction [data-clear]:before,.photo #casing.upage_add li.notcolumn.xPhtAction [data-close]:before{font:unset;color:#fff;display:-ms-flexbox;display:flex;-ms-flex-pack:center;justify-content:center;-ms-flex-align:center;align-items:center}
.video .upage_edit #f_aname{width:100%}
.photo #casing.upage_add form ul.xPhtBlock .xPhtAction>span{display:-ms-flexbox;display:flex;-ms-flex-align:center;align-items:center}
.module_tests .eMessage:not(:last-child),.module_tests div.eTitle:first-child{border-bottom:2px solid #0188cc;margin-bottom:10px;padding-bottom:15px!important}
div#pagesBlock1{position:relative;width:100%;text-align:right}
div#pagesBlock1,h2.photo-etitle{padding-bottom:10px;margin-bottom:10px}
h2.photo-etitle{text-align:left;padding-top:20px;font-size:37px;font-weight:400;border-bottom:2px solid #0188cc}
#uEntriesList .uEntryWrap{width:33.33%;padding:0 0 30px;box-sizing:border-box}
#uEntriesList .entryBlock{display:block!important}
.module_stuff .eDetails{border-top:0;padding:0!important}
input.manFlTxt{min-width:60px}
#photoModalWrap .fancybox-inner,#photoModalWrap .fancybox-outer,#photoModalWrap .fancybox-wrap{max-width:100%}
ul.form-fields input[type=file]{padding:11px 11px 11px 0!important}

.items-stat-wrapper{display:flex;justify-content:space-between;align-items:center;padding-bottom:4px;flex-wrap:wrap}
.items-stat{padding-right:15px}
.breadcrumbs-wrapper{display:flex;justify-content:space-between;align-items:center;padding-bottom:4px}
.breadcrumbs{padding-right:15px}
}